.Footer {
  width: 100%;
  height: 300px;
  background-color: #006d77;
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
  font-size: 12px;
  border-top: rgba(0, 0, 0, 0.098) solid 1px;
}

.Information li {
  flex-direction: column;
  text-decoration: none;
  margin-top: 60%;
  margin-left: 620%;
  color: rgb(249, 248, 245);
  list-style: none;
  font-size: 12px;
}

.Information a {
  color: white;
  text-decoration: none;
}

.ContactsContainer {

background-color: rgb(192, 190, 48);
width: 40px;  
display: flex;
justify-content: space-evenly;
flex-direction: row;
margin-left: 1200%;
margin-top: -400%;
}




