
.about-page {
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.first-image {
  height: auto;
  width: 30%;
  padding: 2rem;
  margin-left: 15rem;
  margin-top: 5rem;
  border-radius: 10%;
  background: yellow;

}

/* UPPER CONTAINER */

.about-first-container {
  background: blue;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 2rem;
  
}

.about-first-row {
  background: purple;
  max-width: 900px;
  font-size: 1.25rem;

}

/* LOWER CONTAINER */

.about-second-container {
  background: green;
  width: 100%;
  padding: 2rem;
  margin-top: 10rem;
  
}

.about-second-row {
  background: teal;
  max-width: 900px;
  font-size: 1.25rem;
  margin-left: 15rem;
}


