
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}
body {
    background: pink;
}

.homepage {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    font-family: 'Poppins', sans-serif;
    background: red;
}

.top-section {
    display: flex;
    width: 100%; 
    justify-content: space-between; 
    align-items: flex-start; 
}

/* NAME SECTION */

.name-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15%;
    margin-top: 20%;
    font-size: 64px;
    background: orange;
    letter-spacing: 1.5px;
}

.name-section h1 {
    color: #006D77;
}

.name-section h2 {
    color: #83C5BE; 
}

/* GALLERY SECTION */

.gallery-section {
    width: 50%;
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.sample-image {
    width: 100%; 
    height: auto; 
    object-fit: contain;
}

#btn-gallery {
    position: absolute;
    bottom: 0px;
    left: 0px; 
    padding: 10px 20px;
    background: white; 
    color: black; 
    border: none;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1.5px;
    
}


/* ABOUT SECTION */

.about-section {
    position: relative; 
    width: 70%;
    height: 465px;
    position: relative; 
    margin-top: 10%; 
    background: blue;

}

.about-section h1 {
    margin-bottom: 20px; 
    font-size: 3rem; 
    color: #006D77; 
    text-align: left

}

.about-section p {
    text-align: justify; 
    text-justify: inter-word; 
    line-height: 1.6; 
    font-size: 1rem;
}

#btn-about {
    position: absolute;
    bottom: 0px;
    right: 0px; 
    padding: 10px 20px;
    background: white; 
    color: black; 
    border: none;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1.5px;
    
}

/* FINDME SECTION */

.findme-section {
    width: 10%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: magenta;


}

/* BOOKING SECTION */

.booking-section {
    width: 10%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: yellow;
}